.conclusion {
    height: 100vh;
    background: url(../img/gmap.jpg) no-repeat center;
    background-size: 80% 53%;
    background-color: $brown;
    position: relative;
  .note {
    width: 60%;
    height: 42.5%;
    margin: auto;
    background-color: $beige;
    position: relative;
            font-family: $font1;
    .imgEnd {
border-radius: 50%;
height: 60px;
width: 60px;
position: absolute;
left: 50%;
transform: translateX(-50%);
top: 0;
transform: translateY(-50%);
    }
    .textEnd {
        padding-top: 10%;
        width: 80%;
        margin: auto;
        line-height: 1.75rem;
        padding-bottom: 5%;
    }
    @media screen and (max-width: 480px) {
        .textEnd {
            line-height: 1rem;
            padding-bottom: 0;
        }
    }
    .nameEnd {
        font-weight: 400;
        font-size: 1.25rem;
        padding-bottom: 10%;
    }
    .jobEnd {
        color: $yellow;
        font-size: 0.75rem;
        padding-top: 1.5%;
    }
  }
    footer {
        width: 80%;
        margin: auto;
        background: url(../img/bg-footer.jpg) center/cover no-repeat;
        background-size: 100% auto;
        display: flex;
        position: absolute;
        bottom: 0;
                left: 0;
        right: 0;
        @media screen and (max-width:680px) {
            flex-direction: column;
            background: none;
        }
        .leftFooter {
            width: 50%;
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            align-items: start;
            padding-left: 5%;
            .titleLeftFooter {
                @include h4;
                padding-top: 5%;
            }
            .textLeftFooter {
                display: flex;
                font-family: $font1;
                color: $grey;
                justify-content: flex-start;
                align-items: start;
                text-align: left;
                line-height: 1.5rem;
                font-size: 0.8rem;
                padding-bottom: 5%;
            }
        }
                            @media screen and (max-width:680px) {
.leftFooter {
    display: none;
}
        }
        .rightFooter {
            width: 50%;
            color: $white;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: start;
            .newsRight {
                padding-top: 5%;
                padding-bottom: 5%;
                padding-left: 5%;
                display: flex;
                flex-direction: column;
                .newsTitle {
                    text-transform: uppercase;
                    font-size: 0.80rem;
                    font-weight: 400;
                    font-family: $font1;
                    padding-bottom: 5%;
                    display: flex;
                    align-items: flex-start;
                                    
                }
                .newsInput {
                    background-color: $brown;
                    border: rgba(42, 40, 40, 0.62) solid 0.1px;
                    margin-bottom: 10%;
                    margin-left: 10%;
                    padding: 4px;
                }
            }
            .followRight {
                display: flex;
                                padding-left: 5%;
            .followTitle {
                                    text-transform: uppercase;
                    font-size: 0.80rem;
                    font-weight: 400;
                    font-family: $font1;
                    
            }
            .networkList {
            display: flex;
             .itemRight {
                color: $grey;
                padding: 0 20%;
             }
            }
         }
 
        }
                            @media screen and (max-width:680px) {
.rightFooter {
    width: 100%;
    height: 100%;
            padding-top: 0;
        padding-bottom: 10%;
}
        }
    }
}