.event {
height: 100vh;
background-color: $brown;
h4 {
@include h4;
font-size: 2.5rem;
padding-top: 5%
}
h3 {
@include h3;
font-size: 1.75rem;
letter-spacing: 0.25rem;
}
.iconeEvent {
    height: 30px;
    width: 30px;
    margin: 30px;
    padding-bottom: 10%;
}
.agenda {
    display: grid;
    width: 80%;
    height: 60%;
    margin: auto;
    grid-template-columns: 60% 40%;
    grid-template-rows: 50% 50%;
    grid-template-areas: 
    "ni th"
    " dj th"
    ;
    .rdv1{
        grid-area: ni;
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-rows: 1fr;
.rdvDate{
        background: url(../img/event-01.jpg) center/cover;
    .rdvDay {}
}
.rdvInfo{
    .titleInfo {}
    .eventInfo {}
    .btnInfo {}
}
    }
    .rdv2{
        grid-area: dj;
                display: grid;
        grid-template-columns: 30% 70%;
        grid-template-rows: 1fr;
.rdvDate{
            background: url(../img/event-02.jpg) center/cover;
    .rdvDay {}
}
.rdvInfo{
    .titleInfo {}
    .eventInfo {}
    .btnInfo {}
}
    }
    .rdv3{
        grid-area: th;
                    background: url(../img/event-03.jpg) center/cover;
.rdv3Container {

    .rdvDate2 {
        .rdvDay2 {}
    }
}
.rdvInfo2 {
    .titleInfo2 {}
    .eventInfo2 {}
    .btnInfo2 {} 
}
    }
}
}