header {
  background: url(../img/bg-slider-06.jpg) center/cover;
  padding-top: 10px;
  height: 70vh;
  .navbar {
    color: $white;
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    h4 {
      @include h6;
      color: $white;
    }
    ul.nav {
      display: flex;
      justify-content: space-around;
      li {
        padding: 0 1.4rem;
        text-transform: uppercase;
        font-family: $font1;
        font-size: 0.65rem;
        &:hover {
          text-decoration: underline solid $white 1px;
          transform: scale(1.2);
          cursor: pointer;
        }
      }
    }
    ul.icone {
      display: flex;
      li {
        padding: 0 0.5rem;
        &:hover {
          transform: scale(1.5);
          cursor: pointer;
        }
      }
    }
  }
  .headerUp {
    @include h2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 5%;
  }
  h1 {
    @include h1;
  }
  .fourchette {
    font-size: 0.1rem;
    padding: 30px 0;
  }
  p {
    font-family: $font2;
    color: $white;
    text-transform: uppercase;
    letter-spacing: 4rem;
    font-size: 0.7rem;
    font-weight: 300;
  }
}
.headerDown {
  display: flex;
  height: 40vh;
  .store {
    width: 50%;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
.presentation {
      width: 50%;
  background-color: $beige;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .containerPresentation {
  height: 90%;
  width: 90%;
  margin: auto;
  padding: 40px;
  border: $yellow dashed 1px;
    display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h6 {
@include h6;
  }
  h5 {
@include h5;
  }
  .couverts {

  }
  p {
font-family: $font1;
font-weight: 0.1rem;
  }
  .portraitChef {
border-radius: 50%;
height: 30%;
  }
 .h9  {
font-family: $font1;
font-weight: 600;
display: block;
  }
  .h10 {
font-family: $font1;
text-transform: uppercase;
color: $grey;
font-size: 0.75rem;
font-weight: 600;
display: block;
}
  }
}
}