.carte {
  position: relative;
  background: url(../img/bg-menu-01.jpg) no-repeat;
  background-size: contain;
  background-position: center center;
  height: 140vh;
  margin: 0;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40vh;
    background-color: $brown;
    margin: 0;
    z-index: -1;
  }
  .navCarte {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    .titleMenu {
      @include h6;
      font-size: 1.5rem;
      padding-top: 3%;
      padding-bottom: 3%;
    }
    .iconeMenu {
      height: 30px;
      width: 30px;
      color: $grey;
    }
    ul {
      color: $grey;
      margin: 30px 10px;
      display: flex;
      width: 90%;
      justify-content: space-evenly;
      font-family: $font1;
      font-size: 1rem;
      li {
        padding-bottom: 0.5rem;
        border-bottom: solid 1px $grey;
        cursor: pointer;
        transition: 0.2s;
        &:hover {
          transform: scale(2);
          padding-bottom: 0.1rem;
        }
      }
    }
  }
  .plats {
    width: 60%;
    margin: auto;
    background-color: $beige;
    font-family: $font1;
    ul {
      padding-top: 10%;
      padding-bottom: 10%;
      border-top: solid $yellow 4px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-template-areas:
        "p1 p5"
        "p2 p6"
        "p3 p7"
        "p4 p8";
      li {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
          .blocPlat {
            display: flex;
        .imgPlat {
          border-radius: 50%;
          height: 50%;
  }
          .textPlat {
        
        .titlePlat {
          text-transform: uppercase;
          font-size: 0.5rem;
        }
        .recettePlat {
          font-size: 0.5rem;
          color: $grey;
        }
        }
            }
        .pricePlat {
        }
    }
  }
}
}