@font-face {
    font-family: "Allura-regular";
    src: url(../fonts/Allura-Regular.ttf);

    @font-face {
        font-family: "Poppins-Light";
        src: url(../fonts/Poppins-Light.ttf);
    }

    @font-face {
        font-family: "Roboto-Medium";
        src: url(../fonts/Roboto-Medium.ttf);
    }
}