@font-face {
  font-family: "Poppins-Light";
  src: url(../fonts/Poppins-Light.ttf);
}
@font-face {
  font-family: "Roboto-Medium";
  src: url(../fonts/Roboto-Medium.ttf);
}
@font-face {
  font-family: "Allura-regular";
  src: url(../fonts/Allura-Regular.ttf);
}
@font-face {
  font-family: "Roboto-Bold";
  src: url(../fonts/Roboto-Bold.ttf);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  text-align: center;
  max-width: 1300px;
  margin: 0 auto;
}

li {
  list-style: none;
}

header {
  background: url(../img/bg-slider-06.jpg) center/cover;
  padding-top: 10px;
  height: 70vh;
}
header .navbar {
  color: rgb(253, 253, 253);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
header .navbar h4 {
  font-family: Allura-regular;
  font-size: 2rem;
  color: rgb(161, 124, 50);
  color: rgb(253, 253, 253);
}
header .navbar ul.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
header .navbar ul.nav li {
  padding: 0 1.4rem;
  text-transform: uppercase;
  font-family: Poppins-Light;
  font-size: 0.65rem;
}
header .navbar ul.nav li:hover {
  -webkit-text-decoration: underline solid rgb(253, 253, 253) 1px;
          text-decoration: underline solid rgb(253, 253, 253) 1px;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  cursor: pointer;
}
header .navbar ul.icone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .navbar ul.icone li {
  padding: 0 0.5rem;
}
header .navbar ul.icone li:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  cursor: pointer;
}
header .headerUp {
  font-family: Allura-regular;
  font-size: 2rem;
  color: rgb(161, 124, 50);
  font-weight: 200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin-top: 5%;
}
header h1 {
  font-family: Roboto-Bold;
  font-size: 2rem;
  color: rgb(253, 253, 253);
  text-transform: uppercase;
  letter-spacing: 1rem;
}
header .fourchette {
  font-size: 0.1rem;
  padding: 30px 0;
}
header p {
  font-family: Roboto-Medium;
  color: rgb(253, 253, 253);
  text-transform: uppercase;
  letter-spacing: 4rem;
  font-size: 0.7rem;
  font-weight: 300;
}

.headerDown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40vh;
}
.headerDown .store {
  width: 50%;
}
.headerDown .store img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.headerDown .presentation {
  width: 50%;
  background-color: rgb(238, 236, 236);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.headerDown .presentation .containerPresentation {
  height: 90%;
  width: 95%;
  border: rgb(161, 124, 50) dashed 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.headerDown .presentation .containerPresentation h6 {
  font-family: Allura-regular;
  font-size: 2rem;
  color: rgb(161, 124, 50);
  font-size: 1.5rem;
}
.headerDown .presentation .containerPresentation h5 {
  font-family: Roboto-Medium;
  font-size: 1.5rem;
  color: rgb(8, 8, 8);
  text-transform: uppercase;
  font-size: 1rem;
}
.headerDown .presentation .containerPresentation .couverts {
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}
.headerDown .presentation .containerPresentation .headerPresentation {
  font-family: Poppins-Light;
  padding-bottom: 2.5%;
  font-size: 0.75rem;
  width: 95%;
}
.headerDown .presentation .containerPresentation .portraitChef {
  border-radius: 50%;
  height: 15%;
}
.headerDown .presentation .containerPresentation .h9 {
  font-family: Poppins-Light;
  font-weight: 600;
  display: block;
  font-size: 0.75rem;
}
.headerDown .presentation .containerPresentation .h10 {
  font-family: Poppins-Light;
  text-transform: uppercase;
  color: rgb(166, 163, 163);
  font-size: 0.5rem;
  font-weight: 600;
  display: block;
}

.carte {
  position: relative;
  background: url(../img/bg-menu-01.jpg) no-repeat;
  background-size: contain;
  background-position: center center;
  height: 140vh;
  margin: 0;
}
.carte::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40vh;
  background-color: rgb(30, 30, 30);
  margin: 0;
  z-index: -1;
}
.carte .navCarte {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
}
.carte .navCarte .titleMenu {
  font-family: Allura-regular;
  font-size: 2rem;
  color: rgb(161, 124, 50);
  font-size: 1.5rem;
  padding-top: 3%;
  padding-bottom: 3%;
}
.carte .navCarte .iconeMenu {
  height: 30px;
  width: 30px;
  color: rgb(166, 163, 163);
}
.carte .navCarte ul {
  color: rgb(166, 163, 163);
  margin: 30px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-family: Poppins-Light;
  font-size: 1rem;
}
.carte .navCarte ul li {
  padding-bottom: 0.5rem;
  border-bottom: solid 1px rgb(166, 163, 163);
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.carte .navCarte ul li:hover {
  -webkit-transform: scale(2);
          transform: scale(2);
  padding-bottom: 0.1rem;
}
.carte .plats {
  width: 60%;
  margin: auto;
  background-color: rgb(238, 236, 236);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}/*# sourceMappingURL=index.css.map */