@font-face {
  font-family: "Poppins-Light";
  src: url(../fonts/Poppins-Light.ttf);
}
@font-face {
  font-family: "Roboto-Medium";
  src: url(../fonts/Roboto-Medium.ttf);
}
@font-face {
  font-family: "Allura-regular";
  src: url(../fonts/Allura-Regular.ttf);
}
@font-face {
  font-family: "Roboto-Bold";
  src: url(../fonts/Roboto-Bold.ttf);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  text-align: center;
  max-width: 1300px;
  margin: 0 auto;
}

li {
  list-style: none;
}

header {
  background: url(../img/bg-slider-06.jpg) center/cover;
  padding-top: 10px;
  height: 70vh;
}
header .navbar {
  color: rgb(253, 253, 253);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
header .navbar h4 {
  font-family: Allura-regular;
  font-size: 2rem;
  color: rgb(161, 124, 50);
  color: rgb(253, 253, 253);
}
header .navbar ul.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
header .navbar ul.nav li {
  padding: 0 1.4rem;
  text-transform: uppercase;
  font-family: Poppins-Light;
  font-size: 0.65rem;
}
header .navbar ul.nav li:hover {
  -webkit-text-decoration: underline solid rgb(253, 253, 253) 1px;
          text-decoration: underline solid rgb(253, 253, 253) 1px;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  cursor: pointer;
}
header .navbar ul.icone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .navbar ul.icone li {
  padding: 0 0.5rem;
}
header .navbar ul.icone li:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  cursor: pointer;
}
header .headerUp {
  font-family: Allura-regular;
  font-size: 2rem;
  color: rgb(161, 124, 50);
  font-weight: 200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin-top: 5%;
}
header h1 {
  font-family: Roboto-Bold;
  font-size: 2rem;
  color: rgb(253, 253, 253);
  text-transform: uppercase;
  letter-spacing: 1rem;
}
header .fourchette {
  font-size: 0.1rem;
  padding: 30px 0;
}
header p {
  font-family: Roboto-Medium;
  color: rgb(253, 253, 253);
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-size: 0.7rem;
  font-weight: 300;
}

.headerDown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40vh;
}
.headerDown .presentation {
  width: 50%;
}
.headerDown .store {
  width: 50%;
}
.headerDown .store img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}/*# sourceMappingURL=index.css.map */